nav {
  width: 92%;
  font-size: 1.5em;
}

#landing-text {
  width: 92%;
  font-size: 2em;
}

#landing-bottom h2 {
  width: 92% !important;
}

#landing-bottom #wrap {
  width: 92%;
}

#projects h2 {
  width: 92% !important;
}
