nav {
  font-size: 1.5em;
}

nav #wrap {
  width: 92%;
}

#landing-text {
  width: 92%;
  font-size: 1.8em;
  padding-top: 10%;
  padding-bottom: 10%;
}

#landing-bottom h2 {
  width: 92% !important;
}

#landing-bottom #wrap {
  width: 92%;
}

#projects h2 {
  width: 92% !important;
}

#projects #wrap {
  width: 92%;
}

#projects .project-item {
  flex-direction: column;
}

#projects .project-item img {
  margin-top: 1em;
  width: auto;
  align-self: center;
}

#contact .input-item {
  width: 100%;
}

#contact .input-item input {
  font-size: 2em;
}

#contact #message-input {
  width: 100%;
}

#contact #send-container {
  width: 100%;
}
